<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="email/layout">
<head>
    <title th:text="#{email.text.authenticationBlocked.title}">Account deactivated</title>
</head>
<body>
<div layout:fragment="content">
    <p>
        <span th:text="email.text.authenticationBlocked.body">
            Your account has been temporary deactivated due to few consecutive unsuccessful authentication attempts.
            That has been done in order to protect it from breach.
            To re-activate your <b>Kabanchik</b> account, to validate your identity and to get access to change password form,
            please confirm that this email address belongs to you by clicking the link below:
        </span>
    </p>
    <p>
        <span th:text="#{email.text.common.securityLink}">Security Link</span>:
        <a th:href="${securityLink}" th:utext="${securityLink}">securityLink</a>
    </p>
    <p>
        <span th:text="#{email.text.common.email}">Email</span>:
        <b><em th:utext="${userEmail}">userEmail</em></b>
    </p>
</div>
</body>
</html>