<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Kabanchik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="|cid:${favicon}|" />
    <style type="text/css">
        h1{
            color: dimgray;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="#{email.text.layout.header.text(${toUser.getName()})}">Dear {0},</h1>
    <div layout:fragment="content">
        <h1>Email Content</h1>
    </div>
    <footer>
        <p>
            <span th:text="#{email.text.layout.footer.contactUs}">
                If you have questions, please contact us at:
            </span>
            <a th:href="${supportHref}" th:utext="${supportEmail}">supportEmail</a>
        </p>
        <img src="../../static/images/logo.png" th:src="|cid:${logo}|" />
        <p>
            <span th:text="#{email.text.layout.footer.regards}">Regards, </span><br />
            <em th:text="#{email.text.layout.footer.companyName}">The Kabanchik Team</em>
        </p>
        <hr/>
        <p th:text="#{email.text.layout.footer.statement}">
            Please do not reply to this message; it was sent from an unmonitored email address.
            If you didn't register at Kabanchik, please ignore. We won't disturb you anymore.
        </p>
        <p><b>&copy;</b><span th:text="#{email.text.layout.footer.copyright}"> 2017 Kabanchik</span></p>
    </footer>
</div>
</body>
</html>