<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="email/layout">
<head>
    <title th:text="#{email.text.managerReminder.title}">Uncompleted subordinates Timesheet reminder</title>
</head>
<body>
<div layout:fragment="content">
    <p th:text="#{email.text.managerReminder.body1(${weekNumber})}">
        Please notice, that some of your subordinates did not submit yet their timesheets for {0} week.
    </p>
    <p th:text="#{email.text.managerReminder.body2}">
        List of subordinates:
    </p>
    <ul>
        <li th:each="subordinate: ${subordinates}" th:text="${subordinate.getName()}"></li>
    </ul>
    <p>
        <span th:text="#{email.text.managerReminder.body3}">Please follow this link to access Timesheet application</span>:
        <a th:href="${timesheetUrl}" th:utext="${timesheetUrl}">timesheetUrl</a>
    </p>
</div>
</body>
</html>