<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="email/layout">
<head>
    <title th:text="#{email.text.registration.title}">Welcome to Kabanchik</title>
</head>
<body>
<div layout:fragment="content">
    <p>
        <span th:text="#{email.text.registration.body1}">
            Thank you for registering at <b>Kabanchik</b>!
            Soon you will be able to post/accept orders
            and access additional features available to members only.
            To activate your <b>Kabanchik</b> account, to validate your identity and to get access to change password form,
            please confirm that this email address belongs to you by clicking the link below:
        </span>
    </p>
    <p>
        <span th:text="#{email.text.common.securityLink}">Security Link</span>:
        <a th:href="${securityLink}" th:utext="${securityLink}">securityLink</a>
    </p>
    <p>
        <span th:text="#{email.text.common.email}">Email</span>:
        <b><em th:utext="${userEmail}">userEmail</em></b>
    </p>
</div>
</body>
</html>