<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="email/layout">
<head>
    <title th:text="#{email.text.userReminder.title}">Uncompleted Timesheet reminder</title>
</head>
<body>
<div layout:fragment="content">
    <p th:text="#{email.text.userReminder.body1(${weekNumber})}">
        Please fill in and post the timesheet for {0} week.
    </p>
    <p>
        <span th:text="#{email.text.userReminder.body2}">Please follow this link to access Timesheet application</span>:
        <a th:href="${timesheetUrl}" th:utext="${timesheetUrl}">timesheetUrl</a>
    </p>
</div>
</body>
</html>