<h1>Code of Conduct</h1>
<p>TEBIN aims to build confidence and trust with our Client’s through responsibility, in-depth understanding of Client’s needs, but also through high level of transparency to our clients and commitment to strong compliance principles.</p>
<p>This Code of Conduct sets the principles and rules which apply to all employees at TEBIN without exception, and serves the basis for all our policies and procedures.</p>
<ol>
    <li>We comply with applicable national laws and regulations, including relevant anti-corruption  and labor legislation, international anti-bribery acts (UK Bribery Act, US FCPA), adhere to generally accepted principles and standards relating to social and environmental responsibility, and internationally recognized human rights (UN Declaration on Human Rights and UN Global Compact).</li>
    <li>We value and assess our people for their professional qualities, and combat any form of discrimination based on gender, sexual orientation, ethnicity, religion, ideology, age or disability.</li>
    <li>We Ensure fair employment practices, and refrain from any form of unethical or illegal employment practices (such as harassment or physical assault, any form of slavery, servitude and forced or compulsory labor and child labor) .</li>
    <li>We do not tolerate any form of corruption or bribery, and ensure that business decisions are not influenced through any improper or illegal payments or anything else of value, or by personal interests.</li>
    <li>We compete fairly and succeed on the basis of innovations and quality of services provided. We do not exchange insider information, do not participate in bid rigging and carefully protect company’s and client’s  data and intellectual property.</li>
    <li>We comply with national legislation and leading international standards in the field of occupational health & safety. We provide our employees with safe workplaces and actively promote health and work-life balance.</li>
    <li>We respect environment, and seek to  minimize the environmental impact of our business activities by compliance with applicable environmental legislation and promoting environmental friendly and sustainable solutions.</li>
    <li>As a member of the local community we create value by being a responsible employer, supporting charitable activities and encouraging personal and social commitments of our employees.</li>
    <li>We make sure our procurement proccess is responsible and transparent. We strive to be fair and reliable partner to our subcontractors and vendors, but we demand  them to adhere to the principles set forth in this Code of Conduct.</li>
    <li>We encourage our emplyees and partners to report any violations of these principles, as well as known or suspected breach of laws and regulations.</li>
</ol>